@model Banking.Core.Application.ViewModels.UserVMS.SaveUserViewModel
@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>Esta seguro que desea activar el usuario @Model.FirstName?</h4>
            </div>
            <div class="card-body">
              <form method="post" asp-controller="UserMantainment" asp-action="Activate">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-primary">Activar</button>
                    <a asp-controller="UserMantainment" asp-action="Mantain" class="btn btn-warning">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>